@use "global" as *;

.history-top {
  background-color: $pink;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 104;
  transition: 0.5s;
}

.history-top__swipe {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -4%);
  width: rem(217);
  z-index: 9001;
  opacity: 0;
  pointer-events: none;
  @include mq("md") {
    display: none;
  }
}

.history-top.panelactive .history-top__swipe {
  animation-name: fadeOut;
  animation-fill-mode: both;
  animation-duration: 3s;
  animation-timing-function: ease-in;
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.history-top.panelactive {
  left: -100%;
  width: 0; /*20220216*/
}

.history-top.panelactive .history-top__bottom {
  width: 0;
}

.history-top__top-wrapper {
  overflow: hidden;
}

.history-top__top-wrapper {
  animation-name: slideup; /*1で解説*/
  animation-fill-mode: backwards; /*2で解説*/
  animation-duration: 0.5s; /*3で解説*/
  animation-timing-function: ease-in; /*5で解説*/
  animation-delay: 2s; /*6で解説*/
  animation-direction: normal; /*7で解説*/
}

/*1で解説*/
@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }

  100% {
    opacity: 1;
  }
}

.history-top__top {
  color: $white;
  padding: rem(109) rem(30) rem(100);
  @include mq("md") {
    //  padding-top: 8%;
    padding-top: 12vh;
  }
}

.history-top__bottom {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 34.375vh !important;
  background-color: #fff;
  z-index: -1;
}

.history-top__title {
  text-align: center;
  font-size: rem(50);
  @include mq("md") {
    font-size: rem(60);
  }
}

.history-top__sub-title {
  text-align: center;
  display: block;
  font-size: rem(40);
  font-family: $sub-font;
  @include mq("md") {
    font-size: rem(50);
  }
}

.history-top__copy {
  text-align: center;
  font-size: rem(18);
  margin-bottom: rem(0);
  @include mq("md") {
    font-size: rem(20);
    margin-bottom: rem(45);
  }
}

.history-top__message {
  padding-top: rem(44);
  text-align: center;
  color: $pink;
  font-size: rem(18);
  font-weight: bold;
  line-height: 2.22222222;
  @include mq("md") {
    font-size: rem(20);
  }
}

.history-top__message.panelactive {
  display: none;
}

.history-top__message {
  animation-name: slidedown; /*1で解説*/
  animation-fill-mode: backwards; /*2で解説*/
  animation-duration: 0.5s; /*3で解説*/
  animation-timing-function: ease-in; /*5で解説*/
  animation-delay: 2s; /*6で解説*/
  animation-direction: normal; /*7で解説*/
}

/*1で解説*/
@keyframes slidedown {
  0% {
    transform: translateY(-300px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.history-top__start {
  width: rem(74);
  margin: 0 auto;
  @include mq("md") {
    width: rem(96);
  }
}

.history-top__section-title {
  font-size: rem(24);
  font-weight: bold;
}
