@use "global" as *;

.language-menu {
  position: fixed;
  top: 0;
  right: calc(-100% - 10px);
  // width: calc(100vw);
  width: 100%;
  height: calc(100vh + 30px);
  background-color: $white;
  transition: all 0.3s;
  z-index: 9998;
  overflow: scroll;
  text-align: center;
  display: flex;
}

.language-menu__overlay {
  width: 50%;
  background-color: #e4e4e4;
  @include mq("md") {
    width: 100%;
  }
}

.language-menu__lists-area {
  padding: 15px 0 rem(68);
  width: 50%;
  position: relative;
  background-color: #f0f0f0;
  @include mq("md") {
    position: absolute;
    top: 0;
    right: 20px;
    width: rem(200);
    border-radius: 0 0 rem(100) rem(100);
  }
}

.language-menu__back {
  display: block;
  position: absolute;
  width: rem(9);
  top: 50%;
  left: rem(10);
  transform: translateY(-50%);
  @include mq("md") {
    display: none;
  }
}

.language-menu.panelactive {
  right: 0;
}

.language-menu.panelactive .language-menu-list {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.body.panelactive {
  overflow: hidden;
}

.language-menu__img {
  @include mq("md") {
    margin-bottom: rem(40);
  }
}

.language-menu__img img {
  width: rem(30);
  height: rem(30);
  margin: 0 auto rem(31);
  @include mq("md") {
    width: rem(34);
    height: rem(34);
    margin-bottom: 0;
  }
}

.language-menu__img {
  @include mq("md") {
    text-align: center;
  }
}

.language-menu__img-text {
  display: none;
  @include mq("md") {
    display: inline-block;
    font-size: rem(10);
    text-align: center;
    font-family: $sub-font;
    font-weight: bold;
    color: $pink;
  }
}

.language-menu__lists {
  width: 100%;
  font-size: rem(18);
  color: $pink;
}

.language-menu__list:not(:last-of-type) {
  margin-bottom: 1em;
}

.language-menu__list--ja a {
  font-weight: bold;
  border-bottom: 2px solid $pink;
}
