@use "global" as *;

.sub-header {
  width: 100%;
  padding: rem(15) rem(20);
  transition: all 0.3s;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9000;
}

.sub-header.fixed {
  position: fixed;
  transition: 0.3s;
  background: $white;
}

.sub-header__logo {
  width: rem(130);
  @include mq("md") {
    width: rem(170);
  }
}

.sub-header--message {
  position: absolute;
}
