@use "global" as *;

.top-scroll {
  position: fixed;
  bottom: 7%;
  right: 5%;
  z-index: 100;
  display: inline-block;
  background-color: $black;
  color: $white;
  border-radius: 50%;
  width: rem(65);
  height: rem(65);
  text-align: center;
  cursor: pointer;
}

.top-scroll__text {
  display: block;
  margin-top: rem(10);
  padding-top: rem(16);
  font-size: rem(14);
  font-family: $sub-font;
}

.top-scroll::after {
  content: "";
  background-image: url(../images/common/top-arrow.png);
  background-size: cover;
  background-position: bottom;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .top-scroll:hover::after {
    -webkit-animation: arrowafter 0.5s;
    animation: arrowafter 0.5s;
  }
}
.top-scroll:hover::after {
  opacity: 1;
  top: 0;
}

@-webkit-keyframes arrowafter {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: -8px;
    opacity: 0;
  }
  70% {
    top: 8px;
    opacity: 0;
  }
  75% {
    top: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes arrowafter {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: -8px;
    opacity: 0;
  }
  70% {
    top: 8px;
    opacity: 0;
  }
  75% {
    top: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

// .top-scroll img {
//   display: inline-block;
//   width: rem(22);
//   height: rem(20);
//   margin: 0 auto;
// }

.top-scroll__text {
  display: block;
  margin-top: rem(10);
  padding-top: rem(16);
  font-size: rem(14);
  font-family: $sub-font;
}
